body{
    background-color: black;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    color: white;
}

#cabeçalho_site{
    display: flex;
    justify-content: center;
    font-size: x-large;  
    color: white;
    margin-bottom: 20px;
}

#imagem_minha{
    display: flex;
    justify-content: center;
}

#imagem_minha img{
    height: 300px;
    width: auto;
    border-radius: 50px 50px 50px 50px;
    transition: 1s;
}

#imagem_minha img:hover{
    transform: scale(1.1);
}

#Sobre{
    display: flex;
    justify-content: center;
    color: white;
}

#Sobre_mim{
    display: flex;
    justify-content: center;
}

#Sobre_mim p{
    text-align: justify;
    width: 50%;  
    color: white;
}
#certificados{
    display: flex;
    justify-content: center;
}

li{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;  
    color: white;
    transition: 0.5s;
}

li:hover{
    transform: translate(-6px, -3px);
    transition-duration: 0.5s;
}


#rede_social{
    display: flex;
    justify-content: center;
}

#rede_social a img{
    height: 40px;
    width: auto;
    margin: 10px;
    transition: 1s;
}

#rede_social a img:hover{
    transform: scale(1.1);
}

#Cursos{
    display: flex;
    justify-content: center;
    color: white;
}
